<!--Нужно сказать что мы будем наследовать всё из файла base.html
находимся в папке templates-->
{% extends 'blog/base.html' %}

<!--Говорим в какие части будем вставлять данные-->
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    
    <!--переберём список статей с помощью цикла-->
    {% for post in news%} <!--for "любое название" in news-->
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
        <span class="text-muted">Публикация: {{ post.date|date:"j F Y" }}</span>
        {% if post.autor %}
            <p><b>Автор:</b> <mark>{{ post.autor}}</mark> </p>
        {% else %}
            <p><b>Автор:</b> <mark>Админ</mark> </p>
        {% endif %}
        </div>
    {% endfor %} <!-- endfor закрывает цикл-->
{% endblock %}

